BODY{
    text-align:"center";
    align-content: center;
    align-items: center;

}

div{
    align-items: center;
}

.character{
    background:grey;
    cursor:pointer;


    .character__img{
        filter:grayscale(100%);

    }
    &.active{
        animation: flashes 300ms linear;

        background:orange;
        .character__img{
            filter:grayscale(0);

     
        }
 
    }


}


@keyframes flashes{
    0%{
        filter:brightness(100%);
    }20%{
        filter:brightness(150%);
    }40%{
        filter:brightness(100%);
    }60%{
        filter:brightness(150%);
    }80%{
        filter:brightness(100%);
    }100%{
        filter:brightness(150%);
    }
}