
body{

    background-color: white;
    background-repeat:no-repeat;
    background-size:100%;
    /* background-image: url('image/orange.gif');  */



}

#container{

    text-align: center;

}

#characterSelect{

    align-content: center;
    background:white;

    text-align: center;
    margin-left: 100px;
    margin-right:100px;
    transform:skewX(10deg);
    border-radius:10px;
    border: yellow 10px ridge;

}

#description{
    text-align: center;
}

#characterSelectLogo{

    align-content: center;

    animation: rotation 5s infinite ease-in-out;




}

.thedesc{
    display:none;
}

.character{
    background:grey;
    cursor:pointer;
    text-align: center;
    box-shadow: 5px 10px 10px 5px gray;
    width:400px;
    height:700px;
    overflow:auto;
    border-radius:10px;

    .character__name{
        font-size: xx-large;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

    .character__power{
        font-family:Arial, Helvetica, sans-serif;
        font-size: x-large;
    }
    





    .character__img{
        filter:grayscale(100%);
        transform:skew(5deg);
        padding:20px;

    }
    &.active{
        animation: flashes 300ms linear;
        border: yellow 10px ridge;

        background:orange;
        .character__img{
            filter:grayscale(0);

     
        }

        .thedesc{
            display:inline-block;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 15px;
            text-align: center;
            margin:15px;
            padding:15px;
            border:2px black dashed;
            background:orangered;
            color:white;
            overflow: auto;
        }
 
    }


}

.character:hover{
    transform:scale(1.1)
}


@keyframes flashes{
    0%{
        filter:brightness(100%);
    }20%{
        filter:brightness(150%);
    }40%{
        filter:brightness(100%);
    }60%{
        filter:brightness(150%);
    }80%{
        filter:brightness(100%);
    }100%{
        filter:brightness(150%);
    }
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}